.appContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.meta {
  display: flex;
  justify-content: space-around;
  font-family: 'Tahoma', Courier, monospace;
  font-weight: 500;
  font-size: 12px;
}
.listMeta {
  padding: unset;
}
